{%- set base = config.get('TEMPLATE_PATH') -%}
{%- import '{}/macros/analytics.html'.format(base) as analytics -%}
{%- import '{}/macros/link.html'.format(base) as link -%}
{%- import '{}/macros/script.html'.format(base) as script -%}{#
    Template variables and their defaults, along with description

    Block Variables:
    ----------------
    description: N/A (contains the description used by google)
    title: N/A (page title NOT the visual title)
    author: B. R. Mullikin (The author of the page’s content)
    image: /img/logo.png (The image associated with this page, for social share)
    twitter_site: @dissata (the site twitter handle)
    twitter_creator: @dissata (the author twitter handle)
    scripts_default: my.js (the primary and default javascript for EVERY page)
    scripts: N/A (any page specific javascript needed)
    css_default: style.css (the primary and default css for EVERY page)
    css: N/A (any page specific css needed)
    google_UA: UA-XXXXX-X (The Google Analytics code)
    google_domain: www.someapp.com (the domain to be tracked by google)

    Block Areas:
    ------------

    content_header: (the header for the page)
        partials/content/header/default.html

    content_main: (the default main content for the page)
        N/A

    content_footer: (the footer for the page)
        partials/content/footer/default.html
#}<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <link rel="canonical" href="{{config.get('BASE_URI')}}{{config.get('SERVER_NAME')}}{{ request.path }}">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <link rel="dns-prefetch" href="{{ config.get('ASSET_BASE') }}">

    <title>{%block title %}{% endblock %}</title>

    <!-- Schema & OG -->
    <meta property="og:description" name="description" content="{%block description %}{% endblock %}">
    <meta name="author" content="{%block author %}B. R. Mullikin{% endblock %}">
    <meta property="og:title" content="{{self.title()}}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{config.get('BASE_URI')}}{{config.get('SERVER_NAME')}}{{ request.path }}" />
    <meta property="og:image" content="{{ config.get('ASSET_PATH') }}/{%block mainimage %}img/default-image.png{% endblock %}" />

    <!-- Twitter Cards -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="{%block twitter_site %}@dissata{% endblock %}">
    <meta name="twitter:title" content="{{self.title()}}">
    <meta name="twitter:description" content="{{self.description()}}">
    <meta name="twitter:image" content="{{ config.get('ASSET_PATH') }}/{{self.mainimage()}}">
    <script type="application/ld+json">{"@context": "http://schema.org","@type": "WebPage","headline": "{{self.title()}}","description": "{{self.description()}}","name": "{{self.title()}}","url": "{{config.get('BASE_URI')}}{{config.get('SERVER_NAME')}}{{ request.path }}","author": {"@type": "Person","name": "{{self.author()}}"},"image": {"@type": "ImageObject","url": "{{ config.get('ASSET_PATH') }}/{{self.mainimage()}}"}}</script>
    {{ link.icons(config.get('ASSET_PATH')) }}
    {% include '{}/partials/critical_css/critical_css.htm.js'.format(base) %}
</head>
<body class="{%block body_classes %}{% endblock %}">
    <div class="loader"></div>
    <div class="lazy-load">
        {%- block content_header -%}
        {% include '{}/partials/headers/default_header.htm.j2'.format(base) %}
        {%- block hero -%}{%- endblock -%}
        {%- endblock -%}
        <div class="body-wrapper">
            {%- block body %}
                <div class="articleBody">
                    {%- block content_main %}{%- endblock -%}
                </div>
            {%- endblock -%}
        </div>
        {%- block content_footer -%}
            {% include '{}/partials/footers/default_footer.htm.j2'.format(base) %}
        {%- endblock -%}
    </div>
    {%- block css_default -%}
        {{ link.stylesheet('style') }}
    {%- endblock -%}
    {%- block css -%}{%- endblock -%}
    {%- block scripts_default -%}
        {{ script.defer('my') }}
        {{ analytics.google_analytics('UA-XXXXXXXXX') }}
    {%- endblock -%}
    {%- block scripts -%}{%- endblock -%}
</body>
</html>
