.brm_todo
.env
.brm_env
static/src/vendor
bower_components
node_modules
venv
*.pyc

# iPython Notebooks
.ipynb_checkpoints
*.ipynb

*.so

.cache
.coverage
*.egg
*.egg-info
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

pip-log.txt

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
