<header class="top-header top-header--affixed">
    <a href="/" class="logo">
        <h1 class="title">BRMFLASK BOILERPLATE</h1>
        <h2 class="subtitle">Built by B. R. Mullikin</h2>
    </a>
    {% include '{}/partials/headers/menus/default_menu.htm.j2'.format(base) %}
</header>
