<nav>
    <h1 class="menu-button"><span class="sr">Main Menu</span> <span class="menu-label"></span> <span class="navicon-btn"><span class="navicon"></span></span></h1>
    <div class="menu closed">
        <div class="menu-wrapper">
            <ul class="main-menu">
                <li><a href="#">Big Menu Item</a></li>
                <li><a href="#">Big Menu Item</a></li>
                <li><a href="#">Big Menu Item</a></li>
                <li><a href="#">Big Menu Item</a></li>
            </ul>
            <ul class="secondary-menu">
                <li><a href="#">Bottom Links</a></li>
                <li><a href="#">Bottom Links</a></li>
                <li><a href="#">Bottom Links</a></li>
                <li><a href="#">Bottom Links</a></li>
                <li><a href="#">Bottom Links</a></li>
                <li><a href="#">Bottom Links</a></li>
                <li><a href="#">Bottom Links</a></li>
                <li><a href="#">Bottom Links</a></li>
                <li><a href="#">Bottom Links</a></li>
            </ul>
            <div class="menu-advert">
                <div class="top-advert">
                    <p>Top Right Advert Slot</p>
                </div>
                <div class="bottom-advert">
                    <p>Bottom Right Advert Slot</p>
                </div>
            </div>
        </div>
        <div class="menu-cta"><p>Large Call to Action Area</p></div>
        <ul class="social-menu">
            <li class="facebook"><a href="https://www.facebook.com/brmwebdev"><i class="fa fa-facebook"></i> <span>Facebook</span></a></li>
            <li class="twitter"><a href="https://twitter.com/brmwebdev"><i class="fa fa-twitter"></i> <span>Twitter</span></a></li>
            <li class="github"><a href="https://github.com/brmullikin"><i class="fa fa-github-o"></i> <span>Github</span></a></li>
        </ul>
        <div class="designed-by">
            <a href="https://www.brmwebdev.com/"><span>Need a Website? </span> <img src="https://s3.amazonaws.com/static.inexsilio.com/img/brmwebdev-logo-grey-micro.png" title="Learn about how BRM Web Dev can build your next website"> BRM Web Dev</a>
        </div>
    </div>
</nav>
